---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.image-cropper {
    width: 50%;
    height: 50%;
    overflow: hidden;
    border-radius: 60%;
    margin: auto;
    display: block;
}
